/Library/PackageCache/com.unity.burst@1.8.17/.Runtime/burst-llvm-16.dll
/Library/PackageCache/com.unity.burst@1.8.17/.Runtime/burst-llvm-16-arm64.dll
/Library/PackageCache/com.unity.burst@1.8.17/.Runtime/libburst-llvm-10.dylib
/Library/PackageCache/com.unity.burst@1.8.17/.Runtime/libburst-llvm-16.dylib
/Library/PackageCache/com.unity.burst@1.8.17/.Runtime/libburst-llvm-16.so
/Library/PackageCache/com.unity.burst@1.8.17/.Runtime/hostmac/dsymutil
